<mat-toolbar color="primary">
  Login
<span class="flex-spacer"></span>
<button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{ user | json }}</p>
  <form novalidate #loginForm= "ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <p>
        <mat-form-field style="width:450px !important">
          <input matInput placeholder="Username" type="text" [(ngModel)]="user.username" #username= "ngModel" required name="username">
          <mat-error *ngIf= username.errors?.required>Username is required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="width:450px !important">
          <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" #password= "ngModel" required name="password">
          <mat-error *ngIf= password.errors?.required>Password is required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
      </p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <span class="flex-spacer"></span>
      <button mat-button mat-dialog-close>Cancel</button>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]= "loginForm.form.invalid">Login</button>
    </mat-dialog-actions>
  </form>