<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around start"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" >
    <mat-card >
        <mat-card-header>
          <mat-card-title [@visibility]="visibility">
            <h1>{{dish.name | uppercase}}</h1>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ BaseURL + dish.image }}"alt="{{dish.name}}" [@visibility]="visibility">
        <mat-card-content [@visibility]="visibility">
          <p>{{dish.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
  </div>

  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">  
    <mat-list >
        <h1>Comments</h1>
      <mat-list-item *ngFor="let response of dish.comments" >
        <p matLine>{{response.comment}}</p>
        <p matLine>{{response.rating}} Stars</p>
        <p matLine>-- {{response.author}} {{response.date | date}}</p>
      </mat-list-item>
      
    </mat-list>
    
    <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
        <!-- <p>{{ commentForm.value | json }} {{ commentForm.status | json }}</p> -->
      <p>
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" type="text" formControlName="author" required>
        </mat-form-field>
        <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
      </p>
      <p>
        <label for="rating" >Rating: </label><br>
        <mat-slider formControlName="rating" class="half-width" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="5" ></mat-slider>
      </p>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows=6 required></textarea>
        </mat-form-field>
        <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
      </p>
      <button type="submit" [disabled]= "commentForm.invalid" mat-raised-button color="primary" type="submit" class="button">Submit</button>
    </form>
      
  </div>

  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div> 

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
